[Unit]
Description=My Custom Startup Script
After=multi-user.target

[Service]
Type=idle
User=grupo5pi
ExecStart=/home/grupo5pi/project/runatstartup.sh

[Install]
WantedBy=multi-user.target